.header{

    text-align: center;
}
 img{
    height: 80px;
    margin:0 auto;
}
.header nav{
    background: black;
}
.header nav a{
    color: #fff;
    text-decoration: none;
    padding:10px 20px;
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
}
.header nav a:hover{
    background-color:gray;
}